@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  height: 640px;
  width: 640px;
  margin: 25px;
  border: 15px solid grey;
}

.black{
  float: left;
  background-color: black;
  width: 80px;
  height: 80px;
}

.white{
  float: left;
  background-color: white;
  width: 80px;
  height: 80px;
}